* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
}

#landing {
  background: linear-gradient(
      0deg,
      rgba(54, 54, 54, 0.167),
      rgba(20, 20, 20, 0.3)
    ),
    url(./assets/pexels-the-lazy-artist-gallery-1642125.jpg);
  /* background-image: url(./assets/pexels-the-lazy-artist-gallery-1642125.jpg); */
  background-position: center;
  background-size: cover;
  min-height: 60vh;
}

.header-container {
  color: whitesmoke;
  text-shadow: 2px 1px 1px black;
}

.heading-info {
  padding-top: 12%;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 7rem;
}
.card {
  margin-top: -3rem;
  width: 70%;
}
body{
  position: relative;
  min-height: 100%;
}
footer{
  position:sticky;
}
#footer-top {
  background-color: #004274;
  color: white;

}

#listings {
  min-height: 90vh;

}
.property-info {
  display: flex;
  justify-content: center;
  margin-top: -1rem;
}
.property-title{
  display: flex;
  justify-content: center;
}
.property-img{
  object-fit: cover;
}
.property-card {
  position: relative;
  width: 30%;
}

.price-details {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
  font-size: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: end;

  opacity: 0;
  transition: all 0.3s linear;
}

.property-card:hover .price-details {
  opacity: 1;
}

li {
  list-style-type: none;
  padding: 1rem;
}

.email-input {
  width: 80%;
}
#footer-bottom {
  background-color: #00335a;
  color: white;
  margin-bottom: 0;
  
}

.gallery {
  display:flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
}

footer{
  
  z-index: 30;
  left: 0;
  bottom: 0;
  width: 100%;
}

@media (max-width: 810px) {
  .gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2%;
    
  }
  .property-card{
    width:49%;
  }
}
@media (max-width: 500px) {
  .gallery {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .property-card{
    width:100%;
  }
  #footer-bottom {
    display: flex;
    justify-content: center;
  }
}