* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#landing {
  background-image: url(./assets/pexels-the-lazy-artist-gallery-1642125.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.headerContainer{
  color: whitesmoke;
  text-shadow: 2px 1px 1px black;
}

.card {
  margin-top: -3rem;
  width: 70%;

}

#footer-top{
  background-color:#004274;
  color:white;

}

#listings{
  min-height: 90vh;
}
.property-info{
  display:flex;
  
}



li{
  list-style-type:none;
  padding:1rem;
}

.email-input{
  width:80%;
}
#footer-bottom{
  background-color:  #00335A;
  color:white;
  margin-bottom: 0;
}
